@page "/documents/add"
@using BlazorApp.Client.Pages.Component
@using ClassLibrary.Models
@rendermode InteractiveWebAssembly

@inject HttpClient HttpClient
@inject NavigationManager NavManager
<h3>Создание документа</h3>

<AutoDocumentForm Mode="AutoDocumentForm.FormMode.Create"
                  ApiPath="Documents"
                  FormName="document-create" />


@code {
    Task OnSaved(Document d)
    {
        NavManager.NavigateTo("/Receipts"); // куда вернуться
        return Task.CompletedTask;
    }
}
