@page "/documents/{Id:int}"
@using ClassLibrary.Models

<h3>Редактирование документа</h3>

<AutoDocumentForm Mode="AutoDocumentForm.FormMode.Edit"
                  Id="Id"
                  ApiPath="Documents"
                  FormName="document-edit" />

@code {

}
