@page "/Conditions/Add"
@rendermode InteractiveWebAssembly
@using ClassLibrary.Models;
@using BlazorApp.Client.Pages.Component
@inject NavigationManager NavManager
@inject HttpClient HttpClient

<h3>Состояние  создания</h3>

@if (error != "")
{
<div class="alert alert-danger mb-3">@error</div>
}
<AutoRefForm TRef="Condition"
             Model="Condition"
             OnValidSubmit="Save" />

@code {
    Condition Condition = new Condition();
    public string error = "";

    private async Task Save()
    {
        try
        {
            if (Condition == null || Condition.Code == null || Condition.Name == null)
            {
                error = "Не заполнено полностью";
            }
            else
            {
                var clien = await HttpClient.PostAsJsonAsync($"Conditions", Condition);

                if (clien.IsSuccessStatusCode)
                {
                    NavManager.NavigateTo("/Conditions");
                }
                else
                {
                    var cd = await clien.Content.ReadAsStringAsync();
                    error = cd;
                }
            }
        }
        catch (Exception e)
        {

        }
    }

    private void OnArchive()
    {
      
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {

        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }

    }
}
