@page "/Conditions/Edit/{Id:int}"
@rendermode InteractiveWebAssembly
@using BlazorApp.Client.Pages.Component
@using ClassLibrary.Models;
@inject NavigationManager NavManager
@inject HttpClient HttpClient

<h3>Состояние</h3>
<AutoRefEdit TRef="Condition"
             Id="Id"
             ApiPath="Conditions"
             ReferenceDictionaries="refDicts"
             FormName="condition-edit"
             OnSaved="AfterSave" >
    <ExtraButtons>
        <button class="btn btn-warning" @onclick="Archive">К архиву</button>
    </ExtraButtons>
</AutoRefEdit>

@code {
    Dictionary<Type, IEnumerable<BaseRef>> refDicts = new();
    [Parameter]

    public int Id { get; set; }
    Condition resource = new Condition();
    IEnumerable<Condition> condition;
    Condition conditions = new Condition();
    Task AfterSave(Condition r)
    {
        NavManager.NavigateTo("/Conditions");
        return Task.CompletedTask;
    }

 
    async Task Archive()
    {
        
        NavManager.NavigateTo("/Resource");
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = await HttpClient.GetFromJsonAsync<Condition>($"Conditions/{Id}");
            resource = client;
            var clients = await HttpClient.GetFromJsonAsync<IEnumerable<Condition>>("Conditions");
            condition = clients;
            refDicts[typeof(Condition)] = clients!;
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }

    }
}
