@page "/Conditions"
@rendermode InteractiveWebAssembly
@using BlazorApp.Client.Pages.Component
@using ClassLibrary.Models;
@inject HttpClient HttpClient
@inject NavigationManager NavManager

<h3>Состояние</h3>
@if (сonditions == null)
{
    <p>Загрузка...</p>
}
else
{
<AutoRefTable TRef="Condition" Items="сonditions" OnRowClick="OnRowClick">
        <HeaderButtons>
            <button class="btn btn-success me-2" @onclick="OnAdd">Добавить</button>
            <button class="btn btn-warning" @onclick="OnArchive">К архиву</button>
        </HeaderButtons>

    </AutoRefTable>
}
@code {
    IEnumerable<Condition> сonditions;
    protected override async Task OnInitializedAsync()
    {
        var client = await HttpClient.GetFromJsonAsync<IEnumerable<Condition>>("Conditions");
        сonditions = client;
    }


    private void OnAdd()
    {
        NavManager.NavigateTo("/Conditions/Add");
    }

    private void OnArchive()
    {
       
    }

    void ShowDetails(Condition r)
    {
        try
        {
            NavManager.NavigateTo($"/Conditions/Edit/{r.Id}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

    private void OnRowClick(Condition id)
    {
        try
        {
            NavManager.NavigateTo($"/Conditions/Edit/{id.Id}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}

