@page "/Resource/{Id:int}"
@using BlazorApp.Client.Pages.Component
@using ClassLibrary.Models
@rendermode InteractiveWebAssembly
@inject NavigationManager NavManager
@inject HttpClient HttpClient

<AutoRefEdit TRef="Resource"
             Id="Id"
             ApiPath="Resources"
             ReferenceDictionaries="refDicts"
             FormName="resource-edit"    
             OnSaved="AfterSave" >
    <ExtraButtons>
        <button class="btn btn-warning" @onclick="Archive">К архиву</button>
    </ExtraButtons>
</AutoRefEdit>

@code {
    Dictionary<Type, IEnumerable<BaseRef>> refDicts = new();
    [Parameter]

    public int Id { get; set; }
    Resource resource = new Resource();
    IEnumerable<Condition> condition;
    Condition conditions = new Condition();
    Task AfterSave(Resource r)
    {
        NavManager.NavigateTo("/Resource");
        return Task.CompletedTask;
    }

    private async Task Save()
    {
        try
        {
            if (conditions != null)
            {
                conditions = condition.FirstOrDefault(u => u.Id == conditions.Id);
                resource.condition = conditions;
                var clien = await HttpClient.PutAsJsonAsync($"Resources/{Id}", resource);
                NavManager.NavigateTo("/Resource");
            }
        }
        catch(Exception e)
        {

        }
    }
    async Task Archive()
    {
        NavManager.NavigateTo("/Resource");
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = await HttpClient.GetFromJsonAsync<Resource>($"Resources/{Id}");
            resource = client;
            conditions = resource.condition;
            var clients = await HttpClient.GetFromJsonAsync<IEnumerable<Condition>>("Conditions");
            condition = clients;
            refDicts[typeof(Condition)] = clients!;
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }

    }
}
