@page "/TypeDocs/Details/{Id:int}"
@using BlazorApp.Client.Pages.Component
@using ClassLibrary.Models
@rendermode InteractiveWebAssembly
@inject NavigationManager NavManager
@inject HttpClient HttpClient
@* 
<h3>Тип документа</h3>

<div class="mb-3">
    <button class="btn btn-success me-2" @onclick="() => Save()">Сохранить</button>
    <button class="btn btn-warning" @onclick="() => OnArchive()">К архиву</button>
</div>
<label>Название</label>

@if (typedocs != null)
{
    <input @bind="typedocs.Name" />

}
 *@

<AutoRefEdit TRef="TypeDoc"
             Id="Id"
             ApiPath="TypeDocs"
             ReferenceDictionaries="refDicts"
             FormName="typedocs-edit"
             OnSaved="AfterSave">
    <!-- ВАЖНО: имя формы -->
    <ExtraButtons>
        <button class="btn btn-warning" @onclick="Archive">К архиву</button>
    </ExtraButtons>
</AutoRefEdit>


@code {
    [Parameter]

    public int Id { get; set; }
    TypeDoc typedocs;
    Dictionary<Type, IEnumerable<BaseRef>> refDicts = new();

    Task AfterSave(TypeDoc r)
    {
        NavManager.NavigateTo("TypeDocs");
        return Task.CompletedTask;
    }

    async Task Archive()
    {
        // твоя логика архивации
        // await Http.PutAsJsonAsync($"Resources/{Id}/archive", new { });
        NavManager.NavigateTo("/TypeDocs");
    }
    private async Task Save()
    {
        try
        {



            var clien = await HttpClient.PutAsJsonAsync($"TypeDocs/{Id}", typedocs);


            // await clien.Content.ReadFromJsonAsync<TypeDoc>();


            // TODO: заменить на реальную логику (навигация, открытие модалки и т.п.)
            NavManager.NavigateTo("/TypeDocs");
        }
        catch(Exception e)
        {
            
        }
    }

    private async Task OnArchive()
    {

        var clien = await HttpClient.DeleteAsync($"TypeDocs/{Id}");

        // TODO: заменить на реальную логику
        // NavManager.NavigateTo("/Clients/Archive");
        NavManager.NavigateTo("/TypeDocs");

    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // https://localhost:7166/api/
            var client = await HttpClient.GetFromJsonAsync<TypeDoc>($"TypeDocs/{Id}");
            typedocs = client;
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }

    }
}
