@page "/TypeDocs/add"
@using BlazorApp.Client.Pages.Component
@using ClassLibrary.Models
@rendermode InteractiveWebAssembly
@inject NavigationManager NavManager
@inject HttpClient HttpClient

<h3>Создать тип документа</h3>
@if (error != "")
{
    <div class="alert alert-danger mb-3">@error</div>
}
<AutoRefForm TRef="TypeDoc"
             Model="typedocs"
             OnValidSubmit="Save" />

@code {
    TypeDoc typedocs = new TypeDoc();
    public string error = "";

    private async Task Save()
    {
        try
        {

            if (typedocs == null || typedocs.Code == null || typedocs.Name == null)
            {
                error = "Не заполнено полностью";
            }
            else
            {

                var clien = await HttpClient.PostAsJsonAsync($"TypeDocs", typedocs);
                if (clien.IsSuccessStatusCode)
                {
                    NavManager.NavigateTo("/TypeDocs");
                }
                else
                {
                    var cd = await clien.Content.ReadAsStringAsync();
                    error = cd;
                }
            }
        }
        catch (Exception e)
        {

        }
    }

    private void OnArchive()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
          
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }

    }
}
