@page "/Unit"
@rendermode InteractiveWebAssembly
<h3>  Единицы измерения</h3>
@using BlazorApp.Client.Pages.Component
@using ClassLibrary.Models;
@inject NavigationManager NavManager


@inject  HttpClient HttpClient


@if (resources == null)
{
    <p>Загрузка...</p>
}
else
{
    <AutoRefTable TRef="Resource" Items="resources" OnRowClick="ShowDetails" >
        <HeaderButtons>
            <button class="btn btn-success me-2" @onclick="OnAdd">Добавить</button>
            <button class="btn btn-warning" @onclick="OnArchive">К архиву</button>
        </HeaderButtons>

    </AutoRefTable>
}

  


@code {
    IEnumerable<Resource> resources ;
    protected override async Task OnInitializedAsync()
    {


        var client = await HttpClient.GetFromJsonAsync<IEnumerable<Resource>>("Unit");
        resources = client;
    }

    private void OnAdd()
    {
        NavManager.NavigateTo("/Unit/add");
    }

    private void OnArchive()
    {
  
    }

    void ShowDetails(Resource r)
    {
        try
        {
            NavManager.NavigateTo($"/Unit/Edit/{r.Id}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

    private void OnRowClick(int id)
    {
        try
        {
            NavManager.NavigateTo($"/Unit/Edit/{id}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}