@page "/Unit/Add"
@using BlazorApp.Client.Pages.Component
@using ClassLibrary.Models
@rendermode InteractiveWebAssembly
@inject NavigationManager NavManager
@inject HttpClient HttpClient
<h3> Создать Единицы измерения</h3>

@if (conditions == null)
{
    <p>Загрузка...</p>
}
else
{
    @if (error != "")
    {
        <div class="alert alert-danger mb-3">@error</div>
    }
    <AutoRefForm TRef="Unit"
                 Model="Unit"
                 ReferenceDictionaries="refDicts"
                 OnValidSubmit="Save" />
           
}



@code {
    Unit Unit = new Unit();
    IEnumerable<Condition> condition ;
    Condition conditions = new Condition();
    Dictionary<Type, IEnumerable<BaseRef>> refDicts;
    public string error = "";

    private async Task Save()
    {
        try
        {
            if (conditions != null)
            {
                if (Unit == null || Unit.condition == null || Unit.Code == null || Unit.Name == null)
                {
                    error = "Не заполнено полностью";
                }
                else
                {
                    var clien = await HttpClient.PostAsJsonAsync($"Unit", Unit);
                    if (clien.IsSuccessStatusCode)
                    {
                        // TODO: заменить на реальную логику (навигация, открытие модалки и т.п.)
                        NavManager.NavigateTo("/Unit");
                    }
                    else
                    {
                        var cd = await clien.Content.ReadAsStringAsync();
                        error = cd;
                    }
                }


              


            }

        }
        catch (Exception e)
        {

        }
    }

    // private void OnLanguageChanged(ChangeEventArgs e)
    // {
    //     // = e.Value.ToString();
    //     conditions.Name = Convert.ToString(e.Value.ToString());
    //     // Логика, выполняемая при изменении выбора

    //     Console.WriteLine($"Выбранное состояние : {conditions.Id}");
    // }


    // private void OnArchive()
    // {
    //     // TODO: заменить на реальную логику
    //     // NavManager.NavigateTo("/Clients/Archive");
    // }

    protected override async Task OnInitializedAsync()
    {
        try
        {   // httpClientFactory.CreateClient("ApiClient");
            // https://localhost:7166/api/
            var client = await HttpClient.GetFromJsonAsync<IEnumerable<Condition>>("Conditions");
            condition = client;

            refDicts = new Dictionary<Type, IEnumerable<BaseRef>>
            {
                [typeof(Condition)] = condition
            };
            // // https://localhost:7166/api/
            // var client = await HttpClient.GetFromJsonAsync<TypeDoc>($"TypeDocs/{Id}");
            // typedocs = client;
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }

    }
}
